<!--create.ejs --> 
<!DOCTYPE html> 
<html> 
    <head> 
        <title>เพิ่มทีม</title> 
        <link rel="stylesheet" href="../css/style.css"/>
    </head> 
    <body> 
        <h1>เพิ่มทีม</h1> 
        <form method="post" action="/createteam"> 
            <label for="team_name">ทีมชื่อ :</label> 
            <input type="text" id="team_name" name="team_name"> 
            <br> 
            <input type="submit" value="บันทึกข้อมูลทีม"> 
        </form> 
        <a href="/">ย้อนกลับ</a> 
    </body> 
    </html>