<!-- book.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>ทีม</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <h1>แสดงทีม</h1>
    <table class="football-table">
      <tr>
        <th>ทีม</th>
      </tr>
      <tr>
        <td><%= team.team_name %></td>
      </tr>
    </table>
    <div class="link-center">
      <a href="/updateteam/<%= team.team_id %>">แก้ไข</a>
      <a href="/deleteteam/<%= team.team_id %>">ลบข้อมูล</a>
      <a href="/teams">ย้อนกลับ</a>
    </div>
  </body>
</html>