<!-- book.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>score</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <h1>View score</h1>
    <table class="football-table">
      <tr>
        <th>score</th>
       
      </tr>
      <tr>
        <td><%= score.player_id %></td>
        <td><%= score.team_id %></td>
        <td><%= score.score %></td>
      </tr>
    </table>
    <div class="link-center">
      
      <a href="/">Back to List</a>
    </div>
  </body>
</html>